Repository marco79423/urmart: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-frontend, build-backend

.gitlab-ci.yml:

image: docker:stable

services:
  - docker:dind

stages:
  - build
  - deploy

build-frontend:
  stage: build
  only:
    changes:
      - frontend/**/*
      - deploy/**/*
  before_script:
    - docker --version
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
    - BACKEND_SERVER_URL=http://urmart.marco79423.net
  script:
    - docker build
      --file frontend/Dockerfile
      --build-arg REACT_APP_BACKEND_SERVER_URL=$BACKEND_SERVER_URL
      --tag marco79423/urmart-frontend:latest
      .
    - docker push marco79423/urmart-frontend:latest
  coverage: '/^Statements\s+: ([\d.]+%)/'

build-backend:
  stage: build
  only:
    changes:
      - backend/**/*
      - deploy/**/*
  before_script:
    - docker --version
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
    - cd backend
  script:
    - docker build
      --tag marco79423/urmart-backend:latest
      .
    - docker push marco79423/urmart-backend:latest

deploy:
  image: python:3
  stage: deploy
  when: on_success
  before_script:
    - cd deploy
    - pip install -r requirements.txt
    - echo "$SSH_PRIVATE_KEY" > key.pem
  script:
    - python deploy.py

Fix sql bug
  backend/urmart/sqls/get_statistics_by_shop.sql
Due: build-backend

Remove cache
  deploy/nginx.conf
Due: build-frontend, build-backend

Refactor create_order method
  backend/urmart/models/order.py
Due: build-backend

Add loading state
  frontend/src/components/OrderTable.js
  frontend/src/components/OrderTable.spec.js
  frontend/src/components/ProductTable.js
  frontend/src/components/ProductTable.spec.js
  frontend/src/components/__snapshots__/Main.spec.js.snap
  frontend/src/components/__snapshots__/OrderTable.spec.js.snap
  frontend/src/components/__snapshots__/ProductTable.spec.js.snap
  frontend/src/duck.js
Due: build-frontend

Renaming fetching with loading
  frontend/src/components/NewOrderForm.js
  frontend/src/components/OrderTable.js
  frontend/src/components/ProductTable.js
  frontend/src/duck.js
Due: build-frontend

Rename duck to ducks
  frontend/src/components/Main.spec.js
  frontend/src/components/NewOrderForm.js
  frontend/src/components/OrderTable.js
  frontend/src/components/ProductTable.js
  frontend/src/components/Toolbox.js
  frontend/src/configureStore.js
  frontend/src/ducks.js
Due: build-frontend

Refactor and add tests
  frontend/src/components/OrderTable.js
  frontend/src/components/OrderTable.spec.js
  frontend/src/ducks.js
  frontend/src/ducks.spec.js
Due: build-frontend

Update README.md
  README.md
Due: none

Add coverage info
  .gitlab-ci.yml
  README.md
  backend/Dockerfile
  backend/requirements.txt
  frontend/package.json
Due: build-frontend, build-backend

Add some tests
  frontend/src/ducks.spec.js
Due: build-frontend

Fix sql problems
  backend/urmart/migrations/0002_auto_20191229_1935.py
  backend/urmart/models/order.py
  backend/urmart/models/product.py
  backend/urmart/sqls/get_statistics_by_shop.sql
  backend/urmart/sqls/get_top3.sql
  backend/urmart/tasks.py
Due: build-backend

Modify button name
  frontend/src/components/Toolbox.js
  frontend/src/components/__snapshots__/Main.spec.js.snap
Due: build-frontend
